#page-landing {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas: "header" "main" "footer";

  justify-content: center;
  align-items: center;

  color: var(--color-text-in-primary);
}

#page-landing-content {
  width: 100vw;
}

#page-landing header {
  grid-area: header;
  height: 10vh;
  width: 100vw;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-primary);
}

#page-landing .avatar {
  text-decoration: none;
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

#page-landing .avatar span {
  margin-left: 1rem;
  font: 1.6rem Poppins;
  font-weight: 400;
}

#page-landing-content header img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

#page-landing-content header a {
  align-items: flex-end;
  margin-right: 2rem;
  border-radius: 0.8rem;
  padding: 1rem 1.6rem;

  color: var(--color-text-in-primary);
}

#page-landing-content header a.exit {
  background: var(--color-primary-dark);
}

#page-landing-content main {
  grid-area: main;
  display: flex;
  justify-content: initial;
  height: 40vh;
  width: 100vw;
  background: var(--color-primary);
  padding: 1.6rem;
}

.hero-image {
  height: 100%;
  width: 100%;
}

.logo-container {
  display: none;
}

#page-landing-content footer {
  grid-area: footer;
  height: 50vh;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
}

.footer-container {
  width: 90vw;
}

.footer-container .messeger-wellcome {
  margin: 2.4rem 0;
  display: grid;
  color: var(--color-text-complement);
  font-size: 2.4rem;
  justify-content: initial;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container a {
  width: 20rem;
  height: 21rem;
  border-radius: 0.8rem;
  margin-right: 1.6rem;
  font: 700 2rem Archivo;

  display: grid;
  grid-template-rows: 6fr 1fr;
  justify-content: initial;

  text-decoration: none;
  color: var(--color-button-text);
  transition: backgroud-color 0.2s;
  padding: 1.6rem;
}

.buttons-container a img {
  width: 7rem;
}

.buttons-container a.study {
  background: var(--color-primary-lighter);
  margin-right: 1.6rem;
}

.buttons-container a.give-classes {
  background: var(--color-secundary);
  margin-right: 0;
}

.buttons-container a.study:hover {
  background: var(--color-primary-light);
}

.buttons-container a.give-classes:hover {
  background: var(--color-secundary-dark);
}

.buttons-container a img {
  margin-right: 2.4rem;
}

.total-connections {
  margin: 2.4rem 0;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: initial;
  color: var(--color-text-complement);
  width: 100%;
}

.total-connections span {
  width: 17rem;
}

.total-connections svg {
  margin: 0;
  font-size: 1.4rem;
  color: var(--color-primary);
}

@media (min-width: 1024px) {
  #page-landing {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: "header" "main" "footer";

    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
  }
  #page-landing-content header a {
    margin-right: 10rem;
  }

  #page-landing .avatar {
    margin-left: 10rem;
  }

  #page-landing main {
    grid-area: main;
    display: flex;
    justify-content: space-between;
    height: 50vh;
    width: 100vw;
    background: var(--color-primary);
    padding: 1.6rem;
  }

  .logo-container {
    display: inline;
  }

  .logo-container {
    grid-area: logo;
    align-self: center;
    text-align: left;
    margin: 0;
  }

  .logo-container {
    margin-left: 7rem;
    width: 30rem;
    height: 10rem;
    text-align: initial;
  }

  .logo-container img {
    text-align: initial;
    height: 60%;
  }

  .logo-container h2 {
    width: 60%;
    line-height: unset;
    font-weight: 500;
    font-size: 1.4rem;

    margin-top: 0;
    text-align: initial;
  }

  .logo-container img {
    height: 100%;
  }

  #page-landing footer {
    height: 40vh;
  }

  .footer-container {
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "wellcome connection buttons";
    justify-content: space-between;
  }

  .footer-container .messeger-wellcome {
    margin: 2.4rem 0;
    display: grid;
    color: var(--color-text-complement);
    font-size: 2rem;
    justify-content: flex-end;
  }

  .messeger-wellcome {
    grid-area: wellcome;
  }

  .total-connections {
    grid-area: connection;
    justify-content: flex-end;
    align-items: center;
  }

  .buttons-container {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2.4rem;
  }

  .buttons-container a {
    width: 20rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 2rem Archivo;
    text-decoration: none;
    color: var(--color-button-text);
    transition: backgroud-color 0.2s;
  }
}

@media (min-width: 1100px) {
  #page-landing .avatar {
    margin-left: 10rem;
  }

  .footer-container .messeger-wellcome {
    margin-left: 10rem;
    font-size: 2.2rem;
    justify-content: initial;
  }

  .buttons-container {
    margin-right: 5rem;
    grid-area: buttons;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons-container a {
    width: 22rem;
    height: 8rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 1.6rem Archivo;
    text-decoration: none;
    color: var(--color-button-text);
    transition: backgroud-color 0.2s;
  }

  .logo-container {
    height: 15rem;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    margin-bottom: 3.2rem;
    margin-left: 10rem;
    text-align: left;
  }

  .logo-container h2 {
    width: 80%;
    line-height: unset;
    text-align: left;
    font-size: 2.4rem;
  }

  .logo-container img {
    height: 100%;
  }
}
