.page-header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.page-header .top-bar-container {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--calor-text-in-prumary);
  background: var(--color-primary-darker);
  padding: 1.6rem 2rem;
}

#title-header {
  color: var(--color-text-in-primary);
}

.page-header .top-bar-container a {
  height: 3.2rem;
  transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
  opacity: 0.6;
}

.page-header .top-bar-container > img {
  height: 1.6rem;
}

.page-header .header-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin: 9rem auto;
}

.header-content .subtitle {
  display: flex;
  width: 100%;
}

.subtitle .rocket {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.subtitle .rocket span {
  width: 9rem;
  font-size: 1rem;
  color: var(--color-text-in-primary);
}
.subtitle .rocket img {
  margin-right: 1.6rem;
}

.page-header .header-content p {
  max-width: 40rem;
}

.page-header .header-content strong {
  font: 700 3.6rem Archivo;
  line-height: 4.2rem;
  color: var(--color-title-in-primary);
}

.page-header .header-content p {
  max-width: 30rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-in-primary);
  margin-top: 2.4rem;
}

@media (min-width: 700px) {
  .page-header {
    height: 340px;
  }

  .page-header .top-bar-container {
    width: 100%;
    padding: 1.6rem 20rem;
  }

  .page-header .header-content {
    flex: 1;
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7rem;
  }

  .page-header .header-content strong {
    max-width: 350px;
  }

  .subtitle .rocket {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .subtitle .rocket img {
    margin-right: 1.6rem;
  }

  .subtitle .rocket span {
    width: 9rem;
  }

  .page-header .header-content p {
    max-width: 40rem;
  }
}
